{
	"printWidth": 110,
	"singleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"tabWidth": 2,
	"semi": false,
	"arrowParens": "avoid",
	"useTabs": true,
	"bracketSameLine": false
}
